{% extends 'base.html.twig' %}

{% block title %}New Haie{% endblock %}

{% block body %}
    <h1>Create new Haie</h1>

    {{ include('haie_crud/_form.html.twig') }}

    <a href="{{ path('app_haie_c_r_u_d_index') }}">back to list</a>
{% endblock %}
